body {
	padding: 2em;
}

h3 {
	margin-bottom: 0px;
}

table.panel {
	margin-bottom: 1em; 
	border-bottom: 1px solid black;
	width: 100%;
}

table.panel td {
	padding: 1em 2em;
	vertical-align: top;
}

label {
	display: block;
	font-weight: bold;
}

div.schedule_item {
	margin: 2em 0px;
}
